header{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}

body{
    margin: 0px;
    background-image: url("../img/pattern.jpg");
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

li{
    display: inline-block;
    margin-left: 10px;
}

section{
    margin: 40px 100px 50;
background-color:skyblue;
padding: 30px;
}
article{
    border-bottom:black solid 3px;
}

h1{
    text-align: center;
}

footer{
    padding: 1px;
 background-color: red;   
}

h5{
    text-align: center;
}
